{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<div class="container-fluid header">
    <div class="row content">
        <div class="col-sm-6 word text-center">
            <br><br>
            <h1 class="first"><b>How to Prevent?</b></h1>
        </div>
        <div class="col-sm-6 image text-center">
            <img class="imageviruspreventions" src="{% static 'img/virus.png' %}">
        </div>
    </div>
</div>
<!-- Isi -->
<div class="container-fluid isi text-center">
    <!-- What to Do Section -->
    <div class="row">
        <h3 class="margin statjudul text-center">What to Do?</h3><br>  
        <div class="col-sm-7">
            <div class="col-sm-4">
                <img src="{% static 'img/wash_your_hand.png' %}">
                <p class="stat">Wash Your Hand</p>
            </div>
            <div class="col-sm-4"> 
                <img src="{% static 'img/wear_facemask.png' %}">
                <p class="stat">Wear Facemask</p>
            </div>
            <div class="col-sm-4"> 
                <img src="{% static 'img/stay_at_home.png' %}">
                <p class="stat">Stay at Home</p>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="col-sm-6"> 
                <img src="{% static 'img/social_distancing.png' %}">
                <p class="stat">Social Distancing</p>
            </div>
            <div class="col-sm-6"> 
                <img src="{% static 'img/call_if_you.png' %}">
                <p class="stat">Call If You???</p>
            </div>
        </div>
    </div>
    <!-- Know Your Symtomps Section -->
    <div class="row" style=margin-bottom:8%>
        <h3 class="margin statjudul">Know Your Symtomps</h3><br>
        <div class="col-sm-3">
            <img src="{% static 'img/38_C.png' %}">
            <p class="stat">> 38°C</p>
        </div>
        <div class="col-sm-3"> 
            <img src="{% static 'img/dry_cough.png' %}">
            <p class="stat">Dry Cough</p>
        </div>
        <div class="col-sm-3"> 
            <img src="{% static 'img/tiredness.png' %}">
             <p class="stat">Tiredness</p>
        </div>
        <div class="col-sm-3"> 
            <img src="{% static 'img/trouble_breathing.png' %}">
            <p class="stat">Trouble Breathing</p>
        </div>
    </div>
    <!-- Share Tips with Others to Fight Covid-19 -->
    <div id="share-tips" class="row form-p1">
        <h3 class="margin statjudul">Share Tips with Others to Fight Covid-19</h3>
        <div class="col-sm-6">
            <div class="form-p">
                <div class="border-p">
                    <h3 class="message-p">God is good. Do not be dissapointed and stay grateful!</h3>
                    <h3 class="name-p">~ Dan</h3>
                </div>
                <div class="border-p">
                    <h3 class="message-p">Do not overthink about the world! Your own problem is enough.</h3>
                    <h3 class="name-p">~ Fer</h3>
                </div>
                <div class="border-p">
                    <h3 class="message-p">Eat healthy!</h3>
                    <h3 class="name-p">~ Niel</h3>
                </div>
                {% for message in list %}
                <div class="border-p">
                    <h3 class="message-p">{{message.message}}</h3>
                    <h3 class="name-p">~ {{message.name}}</h3>
                </div>
                {% endfor %}
                <h3 class="name-thx">Thank You, For Your Participation!</h3> 
            </div>
        </div>
        <div class="col-sm-6"> 
            <div class="form-group form-p text-left">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-outline-dark btn-blue">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}