{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Date', 'Laju Pertumbuhan'],
        ['Nov 5',  4065],
        ['Nov 6',  3778],
        ['Nov 7',  4262],
        ['Nov 8',  3880],
        ['Nov 9',  2853],
        ['Nov 10',  3779],
        ['Nov 11',  3770],
        ['Nov 12',  4173],
        ['Nov 13',  5444],
        ['Nov 14',  5272],
        ['Nov 15',  4106],
        ['Nov 16',  3535],
        ['Nov 17',  3870],
        ['Nov 18',  4265],
        ['Nov 19',  4798],
        ['Nov 20',  4792],
        ['Nov 21',  4998],
    ]);

    var options = {
        title: 'Perkembangan Kasus Terkonfirmasi Positif Covid-19 Per-Hari',
        curveType: 'function',
        legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    chart.draw(data, options);
    }
</script>
{% endblock meta %}

{% block content %}
<!-- Header -->
<div class="container-fluid header">
    <div class="row content">
        <div class="col-sm-6 word text-center">
            <h1 class="first"><b>Infographic</b></h1>
            <h1 class="second"><b>Covid-19</b></h1>
        </div>
        <div class="col-sm-6 image text-center">
            <img class="imagestat" src="{% static 'img/pngwing1.png' %}">
        </div>
    </div>
</div>

<!-- Isi -->
<div class="container-fluid isi text-center">    
    <h3 class="margin statjudul">Statistic of Covid-19 in Indonesia</h3><br>
    {% for data in status %}
    <div class="row">
      <div class="col-sm-4">
        <img src="{% static 'img/Infected.png' %}">
        <p class="stat">Infected</p>
        <p class="hasilstat">{{ data.infected }}</p>
      </div>
      <div class="col-sm-4"> 
        <img src="{% static 'img/Health.png' %}">
        <p class="stat">Recovery</p>
        <p class="hasilstat">{{ data.recovery }}</p>
      </div>
      <div class="col-sm-4"> 
        <img src="{% static 'img/Death.png' %}">
        <p class="stat">Death</p>
        <p class="hasilstat">{{ data.death }}</p>
      </div>
    </div>
    {% endfor %}
    <div id="curve_chart"></div><br>
</div>
{% endblock content %}