{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<div class="container-fluid header">
    <div class="row content">
        <div class="col-sm-6 word text-center">
            <h1 class="first"><b>Be Aware,</b></h1>
            <h1 class="second"><b>Be Safe</b></h1>
        </div>
        <div class="col-sm-6 image text-center">
            <img class="imagevirus" src="{% static 'img/virusc.png' %}">
        </div>
    </div>
</div>
<!-- Isi -->
<div class="container-fluid isi">
    <div class="row content">
        <div class="col-sm-6 imageisi text-center">
            <img class="imagedokter" src="static\img\imagehome.png">
        </div>
        <div class="col-sm-6 textisi text-center">
            <h2 class="whatis">What is Corona Virus?</h2>
            <p class="isiconten">Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
        </div>
    </div>
</div>
<!-- Daftar nama pengunjung -->
<div class="container-fluid daftar">
    <h5>Number of visitors: {{ jumlah }}</h5>
    <h2>Register of Visitor Names</h2>
    <form action = "savedata" method = "GET"> 
        {% csrf_token %} 
        <h3>Input Data</h3>
        {{form.as_p}}
        <input type="submit" value="Submit"> 
    </form>
</div>
{% endblock content %}
