{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<div class="container-fluid header">
    <div class="row content">
        <div class="col-sm-6 word text-center">
            <h1 class="first"><b>Where Do You</b></h1>
            <h1 class="second"><b>Have To Go?</b></h1>
        </div>
        <div class="col-sm-6 image text-center">
            <img class="imagemap" src="{% static 'img/map.png' %}">
        </div>
    </div>
</div>
<!-- Isi -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>


        <div class="map text-center">
            <iframe width="100%" height="400" src="https://www.google.com/maps/d/embed?mid=1G0xfB8QRIFsLkZHLCHVX4faL7RxDLPdG" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
  
        <div class="container isi">
            <h2 class="hotlines"><b>HOTLINES</b></h2>
        </div>
        <div class="container-fluid isi">
            <div class="row content">
                <div class="col-sm-6 text-center">
                    <p>RSU Dr. Zainoel Abidin Banda Aceh 081287370956</p>
                    <p>RSU H. Adam Malik Medan 081287370956</p>
                    <p>RSU Dr. M. Jamil Padang 081287370956</p>
                    <p>RSU Arifin Ahmad Pekan Baru 081287370956</p>
                    <p>RS Otorita Batam 081287370956</p>
                    <p>RSU Raden Mattaher Jambi 081287370956</p>
                    <p>RSU Dr. M. Hoesin Palembang 081287370956</p>
                    <p>RSU Tanjung Pandan 081287370956</p>
                </div>
                <div class="col-sm-6 text-center">
                    <p>RSU Dr. M. Yunus Bengkulu 081287370956</p>
                    <p>RSU Abdul Moeloek 081287370956</p>
                    <p>RSPI Dr. Sulianti Saroso  081287370956</p>
                    <p>RSU Dr. Hasan Sadikin Bandung 081287370956</p>
                    <p>RSU Serang 081287370956</p>
                    <p>RSU Dr. Kariadi Semarang 081287370956</p>
                    <p>RSU Dr. Sardjito 081287370956</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                </div>
            </div>
            <div class="row content">
                <div class="container-fluid headermap">
                        <h2 class="hotlines"><b>FEEDBACK</b></h2>
                <div class="col-lg-6" style="float:none;margin:auto;">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" class="btn btn-outline-dark btn-blue">
                </form>
                <br>
                <br>
            </div>
            {% for x in inputan %}
            <div id="feedback">
                <div class="container isi feed">
                  <h4><b>"{{x.feedback}}"</b></h4>
                  <p>by {{x.name}}</p>
                </div>
            </div>
            <br>
            {% endfor %}
        
        

</div>
{% endblock content %}